// Colors
$primary-clr:#c231cc;
$secondary-clr:white;


// Dimensiuni Text

$dim_big: 3.2rem;
$dim_normal: 2.2rem;
$dim_small: 1.8rem;

// Grosime Text


$bold: 700;
$semi_bold: 600;
$normal: 500;

// Navigation

$nav_height: 12rem;

// Breakpoints

$xxl: 1400px;
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;
$usm:276px;

// Shadows

$shadow-1: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
$shadow-2: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;